/* Google Fonts Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-text: hsl(0deg, 0%, 100%);
  --color-background: hsl(210deg, 30%, 8%);
  --color-primary: hsl(333deg, 100%, 52%);
  --color-secondary: hsl(245deg, 100%, 60%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  transition: background 0.65s ease;
  line-height: 1.5;
  font-size: 120%;
}

#wrapper {
  max-width: 75%;
  margin: 0 auto;
}

/* Header/Blog Title */
.page-title {
  padding: 30px;
  text-align: center;
}

.page-title h1 {
  font-size: 50px;
}

.nav-links {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
}

.hamburger {
  display: none;
  font-size: 2em;
  position: absolute;
  right: 1em;
  top: 0.65em;
  cursor: pointer;
}

.nav-links li {
  list-style-type: none;
  font-size: 1.2em;
}

.nav-links li a {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-links li a:hover {
  border-bottom: 2px solid var(--color-text);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

img {
  width: 70%;
  text-align: center;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.fab.social {
  margin-right: 1em;
  color: var(--color-text);
}

.fab.social:hover {
  color: var(--color-secondary);
}

.follow h3 {
  margin-top: 0;
}

/* Add a card effect for articles */
.card {
  padding: 0 0.5em 1em;
  margin-top: 20px;
  border-bottom: 3px solid var(--color-text);
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Footer */
footer {
  padding: 2em;
  text-align: center;
  margin-top: 2em;
}

footer .author-note {
  font-style: italic;
  color: var(--color-text);
  font-size: 1.5em;
}

.btn {
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 49%;
}

.light-settings {
  position: absolute;
  top: 1.5em;
  left: 10px;
}

.light-settings > div {
  position: absolute;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 1.5rem;
}

.light-settings > div.hidden {
  display: none;
}

@media only screen and (max-width: 1500px) {
  #wrapper {
    max-width: 100%;
    padding: 15px;
  }

  .nav-links {
    max-width: 70%;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 800px) {
  .nav-links {
    text-align: center;
    border-bottom: 2px solid var(--color-text);
    display: none;
    margin-top: 0;
    padding: 2em;
    background: var(--color-background);
    max-width: 100vw;
    transition: right 0.5s ease-in-out;
    flex-direction: column;
  }

  .nav-links.open-nav {
    display: block;
  }

  .nav-links li {
    font-size: 1.5em;
    margin-top: 2rem;
  }

  .hamburger {
    display: block;
  }

  .follow {
    text-align: center;
  }

  .follow .fab.social {
    margin: 0 1.5em;
  }

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.pp {
  border-radius: 80%;
  padding: 0px;
  margin: auto auto;
  border: 1px solid var(--color-primary);
  display: block;
}

.c {
  text-align: center;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

#item1 {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 70px 20px 70px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-image:
    linear-gradient(to right, rgba(255, 10, 120, 0.4), rgba(68, 51, 255, 0.4)),
    url('../images/dna.png');
    background-repeat: no-repeat;
}

#item1:hover {
  background-image:
    linear-gradient(to right, rgba(68, 51, 255, 1), rgba(255, 10, 120, 1)),
    url('../images/dna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#item2 {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 70px 20px 70px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-image:
    linear-gradient(to right, rgba(255, 10, 120, 0.4), rgba(68, 51, 255, 0.4)),
    url('../images/machine-learning1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#item2:hover {
  background-image:
    linear-gradient(to right, rgba(68, 51, 255, 1), rgba(255, 10, 120, 1)),
    url('../images/machine-learning1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#item3 {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 70px 20px 70px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-image:
    linear-gradient(to right, rgba(255, 10, 120, 0.4), rgba(68, 51, 255, 0.4)),
    url('../images/machine-learning3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#item3:hover {
  background-image:
    linear-gradient(to right, rgba(68, 51, 255, 1), rgba(255, 10, 120, 1)),
    url('../images/machine-learning3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
  border:0px;
  height: 1000%;
}

@media (max-width: 1000px) {
  .flex-box {
    flex-direction: column;
  }
}